// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.online {
	margin-left: 650px;
	color:lightgreen;
	margin-top: -10px;
}

.login {
	margin-left: 550px;
	color:grey;

}

.augeo {
	color: purple;
	font-family:italic;
}

.addform {
	color:purple;
}